extends layout

block content
    h1 登陆框
    form(action="/login/verify",method="get",id="login")
        p name:
        input(type="text",name="name")
        p password:
        input(type="password",name="pwd")
        ='\n'
        br
        input(type="checkbox",name="remember")
        span remember password
        br
        input(type="submit",value="登陆")

    a(href="/") home
    br
    a(href="#register",id="register") register
    br
    p= message
    p= name
    br
    br
    br
    br
    h1 注册框
    form(action="/login/register",method="get",id="register")
        p name:
        input(type="text",name="name")
        p password:
        input(type="password",name="pwd")
        ='\n'
        br
        input(type="checkbox",name="remember")
        span remember password
        br
        input(type="submit",value="注册")

    a(href="/") home
    br
    a(href="#login",id="register") login
    br
    p= message
    p= name