extends layout

block content
    h1 登陆框
    form(action="/login/verify",method="get",id="login")
        p name:
        input(type="text",name="name")
        p password:
        input(type="password",name="pwd")
        ='\n'
        br
        input(type="checkbox",name="remember")
        span remember password
        br
        input(type="submit",value="form登陆")
        br
        input(type="button",value="ajax登陆",class="login")

    a(href="/") home
    br
    a(href="#register",id="register") register
    br
    p= message
    p= name
    br
    br
    br
    br
    h1 注册框
    form(action="/login/register",method="get",id="register")
        p name:
        input(type="text",name="name")
        p password:
        input(type="password",name="pwd")
        ='\n'
        br
        input(type="checkbox",name="remember")
        span remember password
        br
        input(type="submit",value="form注册")
        br
        input(type="button",value="ajax注册",class="register")

    a(href="/") home
    br
    a(href="#login",id="register") login
    br
    p= message
    p= name

    script(src="javascripts/jquery-1.12.2.js",type="text/javascript")
    script(type='text/javascript').
        $('.login').on('click',function(){
            $.ajax({    
                url:"/login/verify",
                type:"get",
                data:{name:$('#login input').eq(0).val(),pwd:$('#register input').eq(1).val()},
                success:function(res){ 
                    alert(res);
                }
            });
        })
        $('.register').on('click',function(){
            $.ajax({    
                url:"/login/register",
                type:"get",
                data:{name:$('#register input').eq(0).val(),pwd:$('#register input').eq(1).val()},
                success:function(res){ 
                    alert(res);
                }
            });
        })
